html, body {
  height: 100%;
}

body {
  background-color: rgba(32, 41, 54, 255);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.container{
  width: 250px;
  min-height: 30px;

  border-radius: 5px;
  transition: height 0.5s ease-out; /* add transition for height change */


  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}